.card {
  max-width: 340px;
  min-width: 323px;
  margin-left: 20px;
  text-align: left;
  word-wrap: break-word;
  font-family: sans-serif;
  padding: 8px;
  margin-bottom: 12px;
}
.card_highlighted {
  box-shadow: 0 0 15px #1ef002;
}
.card_default {
  box-shadow: 0 0 15px #000000;
}

.caption {
  max-width: 250px;
  line-height: 50px;
  font-size: 30px;
  color: gray;
}

.edit_icon {
  margin-top: 13px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.title {
  max-width: 300px;
  color: grey;
  font-size: 25px;
  text-align: left;
}

.checkbox {
  margin-top: 8.5px;
  zoom: 1.7;
  cursor: pointer;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: right;
}
