  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 20px;
    text-align: center;
    font-family: arial;
    box-shadow: 0 0 15px #1ef002;
  }
 
  text2 {
    line-height: 50px;
    font-family: sans-serif;
    font-size: 30px;
    color: gray;
  }

  .title {
    color: grey;
    font-size: 18px;
    text-align: left;
  }

  

  

  
  